.text {
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.fs {
  font-size: 14px;
  color: blue;
}

.fm {
  font-size: 16px;
  color: green;
}

.fl {
  font-size: 18px;
  line-height: 29px;
  color: red;
}
